<div class="ui container">
  <h3 class="ui dividing header">
    Search Results
  </h3>

  <br>

  <form (ngSubmit)="onSearchClick()">
    <div class="ui form fluid action input">
      <input 
        [(ngModel)]="search" 
        name="q" 
        type="text" 
        placeholder="Search..."
        autocomplete="off">
      <button (click)="onSearchClick()"  type="submit" class="ui button">Search</button>
    </div>
  </form>

  <br>
  <br>

  <app-questions-list [isSearch]="true">
  </app-questions-list>
</div>
