

.user-details {
  float: right;
  padding-right: 50px;
}

.user-details > span {
  font-size: 11px;
  font-weight: 300;
  color: #7d7b7b;
  padding-right: 5px;
}

.user-details > a {
  padding-right: 5px;
  cursor: pointer;
}

.user-details > .points {
  font-weight: bold;
}