bcrypt
aiofiles
alembic
fastapi
pyhumps
psycopg2
python-jose
SQLAlchemy-Searchable
sqlalchemy>=1.3.7,<1.4.0  # NOTE temporarily until https://github.com/kvesteri/sqlalchemy-utils/issues/505 is fixed
uvicorn