<app-loader [show]="isFetching">
</app-loader>

<div class="ui container">
  <!--Top menu bar-->
  <div class="ui small compact menu">
    <a 
      class="item"
      [ngClass]="{'active': this.selectedTab === 'profile-info'}" 
      [routerLink]="['/', userId, 'profile']" 
      [queryParams]="{tab: 'profile-info'}">
        <i class="question user icon"></i>
        Profile
    </a>
    <a 
      class="item"
      [ngClass]="{'active': this.selectedTab === 'questions'}" 
      [routerLink]="['/', userId, 'profile']" 
      [queryParams]="{tab: 'questions'}">
        <i class="question circle icon"></i>
        Questions
    </a>
    <a 
      class="item"
      [ngClass]="{'active': this.selectedTab === 'answers'}" 
      [routerLink]="['/', userId, 'profile']" 
      [queryParams]="{tab: 'answers'}">
        <i class="clipboard outline icon"></i>
        Answers
    </a>
    <a 
      class="item"
      [ngClass]="{'active': this.selectedTab === 'favourites'}" 
      [routerLink]="['/', userId, 'profile']" 
      [queryParams]="{tab: 'favourites'}">
        <i class="star icon"></i>
        Favourites
    </a>
  </div>

  <app-profile *ngIf="this.selectedTab === 'profile-info'">
  </app-profile>

  <!--Questions, Answers, Favourites-->
  <div class="posts" *ngIf="this.selectedTab !== 'profile-info'">
    <h5 class="ui dividing header">{{title}}</h5>

    <!-- Posts table -->
    <div *ngIf="!isFetching && posts">
      <div class="flex-container post" *ngFor="let post of posts.items">
        <div 
          class="points" 
          [ngClass]="{'has-answers': post.answersCount > 0, 'has-accepted-answer': post.hasAcceptedAnswer}">
            {{post.votes}}
        </div>
        <a 
          [routerLink]="[ '/questions', post.id ]" 
          fragment="{{post.fragmentToNavigate}}">
            {{post.title}}
        </a>
      </div>

      <br>

      <!--Pagination buttons-->
      <div *ngIf="posts.pages > 1"  class="pagination-row">
        <div class="ui mini basic buttons">
          <div
            (click)="onPreviousClick()" 
            [ngClass]="{'disabled': !posts.hasPrevious}" 
            class="ui button">
              Prev
          </div>
      
          <div
            (click)="onNextClick()" 
            [ngClass]="{'disabled': !posts.hasNext}" 
            class="ui button">
              Next
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
