.tab-container {
  padding: 0 40px 0px 40px;
}

.main {
  margin-top: 20px;
}

.header-wrapper {
  width: 100%;
  margin-top: -20px;
  padding-top: 40px;
  background-color: #FAFAFA;
}

.header-wrapper .ui.menu {
  border-bottom: none;
  margin-bottom: 0;
}

.header-wrapper .ui.tabs.divider {
  margin-top: 0;
  border-bottom: none;
}
