<div class="login-container">
  <form
    [ngClass]="{'loading': isFetching}" 
    (ngSubmit)="signin()" 
    class="ui form" 
    #signinForm="ngForm">
    <h4 class="ui top attached header">
      Sign In
    </h4>

    <div class="ui attached segment">
      
      <!--Error node-->
      <div *ngIf="errorMessage" class="ui negative message error-message">
          <div class="header">
            Invalid Credentials!
          </div>
          <p>{{errorMessage}}</p>
      </div>

      <div 
        class="required inline field" 
        [ngClass]="{'error': !userid.valid && userid.touched}">
          <label for="userid">User Id</label>
            <input
              (input)="onChange()"
              autocomplete="username"
              ngModel 
              id="userid" 
              name="userid"
              type="text"  
              required
              #userid="ngModel">
      </div>

      <div 
        class="required inline field"
        [ngClass]="{'error': !password.valid && password.touched}">
          <label for="password">Password</label>
            <input
              (input)="onChange()"
              ngModel 
              id="password" 
              name="password" 
              type="password"
              autocomplete="current-password" 
              required
              #password="ngModel">
      </div>

      <div class="inline field">
        <label></label>
        <button
          [disabled]="!signinForm.valid" 
          type="submit" 
          class="ui green button">Sign In</button>
        <a [routerLink]="['/user', 'forget-password']">Forgot password?</a>
      </div>

      <div class="inline field">
        <label></label>
        <a [routerLink]="['/user', 'signup']">Need an account? Sign up now.</a>
      </div>
    </div>
  </form>
</div>
