<div class="new-comment">
  <div class="ui form" [ngClass]="{'hide': hide, 'warning': !isValid}">
    <br>
    
    <div class="ui warning message">
      <p>Please enter a minimum of 30 characters and maximum of 250 characters.</p>
    </div>

    <div class="field">
        <textarea
          (input)="onCommentChange()"
          [(ngModel)]="comment"
          rows="2"
          placeholder="Please enter minimum of 15 characters and maximum of 250 characters."></textarea>
          <span class="helperText" [ngClass]="{'orange': showInOrange}">{{helperText}}</span>
    </div>

    <button  (click)="onSubmit()" class="ui tiny primary button">
      Submit
    </button>
  </div>
</div>
