<div class="ui menu">
  <a [routerLink]="['questions']" class="header item">QaNet</a>

  <div class="item">
    <form (ngSubmit)="onSearchClick()">
      <div class="ui transparent icon input">
        <input
          [(ngModel)]="searchText"
          name="q"
          class="prompt" 
          type="text" 
          autocomplete="off"
          placeholder="Search questions...">
        <i class="search link icon" (click)="onSearchClick()"></i>
        </div>
    </form>
  </div>

  <div class="right menu">
    <a [routerLink]="['questions', 'ask']" class="item">
      <i class="question circle icon"></i>
      Ask Question
    </a>

    <!--TODO Clean up required-->
    <div id="menu" *ngIf="isAuthenticated" class="ui dropdown item">
      <i class="user icon"></i> 
      &nbsp; {{userId}} !! 
      <i class="dropdown icon"></i>
      
      <div class="menu">
        <a (click)="onPostsClick()" class="item">Your profile</a>
        <a (click)="onSignOutClick()" class="item">Sign out</a>
      </div>
    </div>

    <a 
      *ngIf="!isAuthenticated" 
      [routerLink]="[ '/user', 'signin' ]"
      class="item">
        Sign in
    </a>
  </div>
</div>

<app-error-message></app-error-message>
<br>
<router-outlet></router-outlet>
