.content {
  width: 100%;
  padding: 15px;
}

.post-bottom-row {
  padding-top: 10px;
  padding-left: 12px;
}

.tags {
  padding-bottom: 10px;
}

.content .ql-container.ql-snow {
  border: none;
}

.post-menu {
  width: 100px;
  display: inline-block;
}

.post-menu a {
  padding: 0 3px 2px;
  color: #686f75;
}

.post-menu a:hover {
  color: #3b4045;
  text-decoration: none;
}

.prompt-login-container {
  margin-bottom: 20px;
}