<app-loader [show]="isFetching">
</app-loader>

<div class="ui container">
  <br>
  <form class="ui form">
    
    <!--TITLE-->
    <div 
      [ngClass]="{'error': errors.title && touched.title}" 
      class="field">
      <label>Title*</label>
      <input
        type="text" 
        name="title" 
        placeholder="Question title in one line."
        [(ngModel)]="title"
        (blur)="onTitleBlur()"
        (input)="onTitleChange()">
    </div>

    <!--QUESTION-->
    <div class="field error"
      [ngClass]="{'error': touched.question &&  errors.question}">
      <label [ngClass]="{'field error': true}">Body*</label>
      <div [ngClass]="{'editor-container-error': touched.question &&  errors.question}">
        <div class="editor" id='editor' #editor>
        </div>

        <span class="helperText">Please explain your answer in minimum 100 characters</span>
      </div>
    </div>

    <!--TAGS-->
    <div  
      class="field"
      [ngClass]="{'error': errors.tags && touched.tags}">
      <label>Tags*</label>

      <div
        id="tags" 
        class="ui fluid multiple search selection dropdown">
        <input
          name="tags" 
          type="hidden" 
          #tags>
        <i class="dropdown icon"></i>
        <div class="default text"></div>
        <div class="menu">
          <div
            *ngFor="let item of tagsList"
            class="item">{{item.id}}</div>
        </div>
      </div>
    </div>
    
    <!--BUTTONS - POST-->
		<br>
    <button
      (click)="onSaveClick()" 
      class="ui primary mini button">
        Post your question
    </button>
		<br>
		<br>
  </form>
