<div class="question-list-item answered" [ngClass]="{'answered': question.totalAnswers > 0}">
  <div class="left">
    <div class="votes">
      <div class="points">
        <span>{{question.votes}}</span>
      </div>
      <div class="text">Vote</div>
    </div>

    <div class="answers" [ngClass]="getAnswersCssClass()">
      <div class="points">
        <span>{{question.totalAnswers}}</span>
      </div>
      <div class="text">Answers</div>
    </div>
  </div>

  <div class="summary">
    <h5>
      <a 
        [routerLink]="['/questions', question.id]"
        [queryParams]="{page: 1}"
        class="question-hyperlink">
          {{question.title}}
      </a>
    </h5>

    <div *ngFor="let tag of question.tags" class="ui label">
      {{tag}}
    </div>

    <app-post-user-detail
      [isQuestion]="true"
      [createdAt]="question.createdAt"  
      [authorPoints]="question.authorPoints"
      [author]="question.author">
    </app-post-user-detail>
  </div>
</div>
