.question-list-item {
  border-bottom: 1px solid #eff0f1;
  padding: 15px 0;
  display: flex;
}

.left {
  padding-right: 15px;
  display: flex;
}

.votes,
.answers {
  color: #0d1025b0;
  font-weight: 300;
  text-align: center;
  padding: 5px 15px 5px 15px;
  min-height: 40px;
  width: 75px;
}

.has-answers {
  border: 1px solid #3e8a57eb;
  color: #3e8a57eb;
}

.answer-accepted {
  background: #3e8a57eb;
  color: white;
}

.points {
  font-size: 16px;
  margin-bottom: 3px;
}

.text {
  font-size: 11px;
}

.summary {
  flex: 1 auto;
}

.summary>h5 {
  font-weight: lighter;
}

.answered {
  background: #FAFAFA;
}

.question-hyperlink {
  cursor: pointer;
  font-weight: lighter;
  color: #356ba0;
  padding-bottom: 5px;
  width: 98%;
  font-size: 13.5px;
}

.question-hyperlink:hover {
  color: #2f5f8f;
  font-weight: 400;
  border-bottom: 1px dotted lightgray;
}

.summary .ui.label {
  line-height: 0.4;
  background-color: #cee0ed52;
  color: #39739d;
  font-weight: lighter;
  border: 1px solid #9fadb847;
}