.content {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}

.bottom-underline {
  border-bottom: 1px solid #f2f2f2;
}

.content .ql-container.ql-snow {
  border: none;
}

.post-bottom-row {
  padding-top: 10px;
  padding-left: 12px;
}

.post-menu {
  width: 100px;
  display: inline-block;
}

.post-menu a {
  padding: 0 3px 2px;
  color: #686f75;
  cursor: pointer;
}

.post-menu a:hover {
  color: #3b4045;
  text-decoration: none;
}