<div class="flex-container bottom-underline">
  <!--Vote-->
  <app-vote
    [isAccepted]="answer.isAccepted"
    [loading]="isVoteLoading" 
    [selfVote]="answer.selfVote"
    [selfVoted]="answer.selfVoted" 
    [showBookMark]="false"
    [vote]="answer.votes"
    (upVote)="onUpVoteClick()"
    (acceptAnswer)="onAcceptAnswerClick()"
    (downVote)="onDownVoteClick()">
  </app-vote>

  <div class="content">
    <div id='answerEditor' #answerEditor>
    </div>

    <!--Menus-->
    <div class="post-bottom-row">
      <!--Menus-->
      <div class="post-menu">
        <a *ngIf="isOwner" href="#">delete</a>
      </div>

      <!--Answer Author details-->
      <app-post-user-detail
        [createdAt]="answer.createdAt" 
        [authorPoints]="answer.authorPoints" 
        [author]="answer.author"
        [isQuestion]='false'>
      </app-post-user-detail>

      <!--Comments-->
      <app-comments
        [isQuestion]='false'
        [comments]="answer.comments"
        [id]="answer.id">
      </app-comments>
    </div>
  </div>

</div>
