.home--question-list-item {
  a.question-link {
    font-size: 13.5px;
    font-weight: 100;
    color: #356ba0;
    padding-bottom: 5px;
  }

  &:hover {
    a.question-link {
      font-weight: 400;
      border-bottom: 1px dotted lightgray;
    }
  }
}