.home--question-list {
  // display: flex;
  // padding: 15px 0;
  // border-bottom: 1px solid #eff0f1;

  // &.has-answers {
  //   background: #fafafa;
  // }

  // &.answer-accepted {
  //   .answer-section {
  //     background: #3e8a57eb;
  //     color: white;
  //   }
  // }

  // .left {
  //   display: flex;
  //   color: #0d1025b0;
  //   font-weight: 300;

  //   .answer-section,
  //   .votes-section {
  //     padding: 7px 15px 7px 15px;
  //     text-align: center;
  //     margin-left: 10px;

  //     .points {
  //       font-size: 15px;
  //       margin-bottom: 5px;
  //     }

  //     .text {
  //       font-size: 11px;
  //     }
  //   }
  // }

  // .details-section {
  //   flex: 1 auto;
  //   margin-left: 25px;

  //   a {
  //     font-size: 13.5px;
  //     font-weight: 100;
  //     color: #356ba0;
  //     padding-bottom: 5px;
  //   }
  // }

  // &:hover {
  //   a {
  //     font-weight: 400;
  //     border-bottom: 1px dotted lightgray;
  //   }
  // }

  // .info {
  //   display: flex;

  //   > div {
  //     flex: 1 auto;
  //   }
  // }

  a.question-link {
    font-size: 13.5px;
    font-weight: 100;
    color: #356ba0;
    padding-bottom: 5px;
  }

  &:hover {
    a.question-link {
      font-weight: 400;
      border-bottom: 1px dotted lightgray;
    }
  }
}
