.w-100p {
  width: 100%;
}

/* DISPLAY */
.d-f {
  display: flex;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.fc:after {
  clear: both !important;
  content: "";
  display: block !important;
}

/* PADDING */
.pd-0 {
  padding: 0 !important;
}

.pd-2 {
  padding: 2px !important;
}

.pd-3 {
  padding: 3px !important;
}

.pd-5 {
  padding: 5px !important;
}

.pd-6 {
  padding: 6px !important;
}

.pd-10 {
  padding: 10px !important;
}

.pd-l15 {
  padding-left: 15px !important;
}

.pd-l10 {
  padding-left: 10px !important;
}

.pd-r5 {
  padding-right: 5px !important;
}

/* BACKGROUND */

.bg-white {
  background: white !important;
}

.bg-lblue {
  background: #e1ecf4 !important;
}

.bg-lgrey {
  background: #f5f5f5 !important;
}

/* POSITION */

.p-fixed {
  position: fixed !important;
}

/* MARGINS */
.m-b20 {
  margin-bottom: 20px !important;
}

.m-t10 {
  margin-top: 10px !important;
}

.m-t20 {
  margin-top: 20px !important;
}

.m-t30 {
  margin-top: 30px !important;
}

.m-t40 {
  margin-top: 40px !important;
}

.m-t50 {
  margin-top: 50px !important;
}

.m-b30 {
  margin-bottom: 30px !important;
}

.m-b5 {
  margin-bottom: 5px !important;
}

.m-l20 {
  margin-left: 20px !important;
}

.m-r5 {
  margin-right: 5px;
}

.m-r10 {
  margin-right: 10px;
}

.l-15 {
  left: 15px !important;
}

/* WIDTH */
.w-32 {
  width: 32px !important;
}

.w-50 {
  width: 50px !important;
}

.w-100 {
  width: 100px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.mw-100 {
  min-width: 100px;
}

/* HEIGHT */

.h-32 {
  height: 32px !important;
}

/* FLEX */
.fl-1a {
  flex: 1 auto;
}

.fl-1 {
  flex: 1 !important;
}

/* TEXT */
.ta-c {
  text-align: center !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-25 {
  font-size: 25px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-10 {
  font-size: 10px !important;
}

.fw-b {
  font-weight: bold;
}

.ww-bw {
  word-wrap: break-word;
}

/* CURSOR */
.cr-p {
  cursor: pointer !important;
}

/* COLOR */
.c-g {
  color: green !important;
}

.c-y {
  color: #ffd83d78 !important;
}

.c-o {
  color: #f57f24 !important;
}

.c-lgr {
  color: #d3d3d363 !important;
}

.c-post {
  color: #848d95 !important;
}

.c-post:hover {
  color: #3b4045 !important;
}

.c-gr {
  color: #0000005c !important;
}

.c-dgr {
  color: #0000008f !important;
}

.c-dgr2 {
  color: #7d7c7c !important;
}

.c-dgr3 {
  color: #696a6b !important;
}

.c-lgr {
  color: lightgray !important;
}

.c-flagged {
  color: #ec8d42 !important;
}

/* BORDERS */

.b-r2 {
  border-radius: 2px;
}

.bt-lgrey-1 {
  border-top: 1px solid #2224260f;
}

.btb-lgrey-1 {
  border-top: 1px solid #2224260f;
  border-bottom: 1px solid #2224260f;
}

/* SPECIFIC STYLES */
.splash-color-1 {
  background-color: #F4A83D;
}

.trash.icon:hover {
  color: #db2828 !important;
}

.flag.icon:hover {
  color: #ec8d42 !important;
}

#post-content .readonly.ql-container.ql-snow {
  border: none;
}

/* DESKTOP SPECIFIC STYLES */

@media only screen and (min-width: 768px) {
  .d\:f-r {
    float: right;
  }
}

/* MOBILE STYLES */

@media only screen and (max-width: 368px) {
  .md\:d-n {
    display: none !important;
  }

  i.huge.icon,
  i.huge.icons {
    font-size: 2.5em;
  }

  .m\:f-17 {
    font-size: 17px !important;
  }

  .md\:m-t10 {
    margin-top: 10px;
  }
}

/* MEDIUM SCREENS */

@media only screen and (max-width: 767px) {
  .md\:m-t10 {
    margin-top: 10px;
  }

  .md\:d-n {
    display: none !important;
  }

  i.huge.icon,
  i.huge.icons {
    font-size: 2.5em;
  }
}