.w-100 {
	width: 100%;
}

.pd-0 {
	padding: 0 !important;
}

.b-white {
	background: white !important;
}

.p-fixed {
	position: fixed !important;
}

/* Specific styles */
.helper-text {
	font-size: 11px;
	color: #7d7c7c;
}