.w-100 {
	width: 100%;
}

.pd-0 {
	padding: 0 !important;
}

.b-white {
	background: white !important;
}

.p-fixed {
	position: fixed !important;
}

.m-b20 {
	margin-bottom: 20px !important;
}

.m-t20 {
	margin-top: 20px !important;
}

.m-t30 {
	margin-top: 30px !important;
}

.m-b30 {
	margin-bottom: 30px !important;
}

/* Specific styles */
.helper-text {
	font-size: 11px;
	color: #7d7c7c;
}

#post-content .ql-container.ql-snow {
	border: none;
}