/* Semantic overrides */
.ui.form textarea:focus,
.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus {
    border-color: #9e9e9e91;
}

.ui.selection.active.dropdown .menu,
.ui.selection.active.dropdown:hover .menu,
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown {
    border-color: #9e9e9e91;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, .15);
}

/* TODO Clean this later */
.ui.action.input:not([class*="left action"])>input:focus {
    border-right-color: #9e9e9e91 !important;
}

.ui.top.attached.header {
    background: #f0f0f0;
}

.field-error {
    color: #9f3a38
}

.ui.menu {
    border-radius: 0;
}

@media only screen and (max-width: 600px) {
    .ui.menu {
        border: 0;
    }
}