$answer-accepted-color: unquote("#3e8a57eb");

$flagged-color: unquote("#ec8d42");

$error-color: unquote("#ff5722");

$bookmarked-color: unquote("#eabd05");

$lgrey1-color: unquote("#2224260f");

$orange-color: unquote("#f57f24");

$light-grey1-color: unquote("#d3d3d363");