<div class="post-container d-f pd-tb20 bb-lgrey-1" data-post-id="<%= Answer.ID %>"
    data-question-id="<%= Answer.QuestionID %>" data-type="<%= type %>">
    <!-- Votes -->
    <!-- TODO: Hardcoded for now. -->
    <%= partial("shared/vote", {
        PostType: false,
        id: Answer.ID,
        selfVote : Answer.SelfVote,
        votes: Answer.Votes
    }) %>

    <div class="mw-100 w-100p fl 1">
        <!-- Answer content (editor) -->
        <div class="ql-snow readonly" id="q-<%= Answer.ID %>">
            <%= html_escape(Answer.AnswerContent) %>
        </div>

        <div class="d-f m-t10">
            <!-- Menus -->
            <%= partial("shared/menus") %>

            <!-- Information -->
            <%= partial("shared/userinfo", {
                askedAt: Answer.CreatedAt,
                author: Answer.CreatedBy,
                authorPoints: Answer.AuthorPoints
            }) %>
        </div>

        <!-- Comments -->
        <%= partial("shared/comments", {
            id: Answer.ID,
            comments: Answer.AnswerComments,
            type: "answer"
        }) %>
    </div>
</div>