<!-- Question -->
<div class="d-f">
    <!-- Votes/Bookmark -->
    <%= partial("shared/vote", {
        isQuestion: true,
        id: Question.ID,
        selfBookmarked: Question.SelfBookmarked,
        selfVote : Question.SelfVote,
        votes: Question.Votes
    }) %>

    <div class="mw-100 fl-1">
        <!-- Question content (editor) -->
        <div class="ql-snow readonly" id="q-<%= Question.ID %>">
            <%= quil_for(Question.QuestionContent) %>
        </div>
        <!-- Tags -->
        <%= partial("questions/tags", {tags: Question.QuestionTags}) %>

        <div class="d-f m-t10">
            <!-- Menus -->
            <%= partial("shared/menus") %>
            <!-- Information -->
            <%= partial("shared/userinfo", {
                askedAt: Question.AskedAt,
                author: Question.CreatedBy,
                authorPoints: Question.AuthorPoints
            }) %>
        </div>
        <!-- Comments -->
        <%= partial("shared/comments", {
            id: Question.ID,
            comments: Question.QuestionComments,
            type: "question"
        }) %>
    </div>
</div>