<div id="questionDetail" class="ui container">
    <h3 class="ui dividing header m-t30 m-b10">
        <%= Question.Title %>
    </h3>

    <!-- Post content Question, Answer, Comments etc.. -->
    <div class="m-b30">
        <div id="post-content">
            <!-- Question section -->
            <%= partial("questions/question") %>

            <div class="m-t50">
                <h3 class="ui dividing header">Your Answer</h3>
                <%= partial("questions/answer") %>
            </div>
        </div>
    </div>

    <script>
        function init() {
            QaNet.questionDetail = {
                id: "q-<%= Question.ID %>",
                questionContent: "<%= getContent(Question.QuestionContent) %>",
            }
        }
    </script>
</div>