<app-loader [show]="isFetching">
</app-loader>

<div *ngIf="(!questionsList || questionsList.count === 0) && !isFetching" class="ui warning message">
  <div class="header">
    No records
  </div>
  <p>There are not active questions posted at the moment.</p>
</div>

<div *ngIf="!!questionsList && questionsList.count > 0">
  <app-question 
    *ngFor="let question of questionsList.items"
    [question]="question"
  ></app-question>
</div>

<div *ngIf="!!questionsList && questionsList.pages > 1" class="pagination-row">
  <div class="ui mini basic buttons">
    <a
      (click)="onPreviousClick()" 
      [ngClass]="{'disabled': !questionsList.hasPrevious}" 
      class="ui button"
      [routerLink]="[ '/questions']" 
      [queryParams]="{'page': previousPageNo}">
        Prev
    </a>

    <a
      (click)="onNextClick()" 
      [ngClass]="{'disabled': !questionsList.hasNext}" 
      class="ui button"
      [routerLink]="[ '/questions' ]"
      [queryParams]="{'page': nextPageNo}">
        Next
    </a>
  </div>
</div>