<div class="login-container">
    <%= if (AuthRedirect != "") { %>
        <div class="ui message warning">
            <%= AuthRedirect %>
        </div>
    <% } %>
    <form id="login" class="ui form" novalidate method="POST" action="<%= FormAction %>">
        <input
            name="authenticity_token"
            type="hidden"
            value="<%= authenticity_token %>">

        <h4 class="ui top attached header">
            Sign In
        </h4>
        <div class="ui attached segment">
            <div class="form-fields">
                <!-- Error message -->
                <%= partial("errors") %>

                <!-- Form fields -->
                <div class="required field">
                    <label for="userid">User Id</label>
                    <input
                        placeholder="Username minimum 6 letters"
                        autocomplete="username"
                        type="text"
                        id="userid"
                        name="ID"
                        required
                        value="<%= user.ID %>">
                </div>

                <div class="required field">
                    <label for="password">Password</label>
                    <input
                        placeholder="Password minimum 6 letters"
                        autocomplete="username"
                        type="password"
                        id="password"
                        name="Password"
                        value=""
                        required>
                </div>

                <div class="field">
                    <button class="ui blue button" type="submit">Submit</button>
                    <a href="/signup">Need account? Signup now!</a>
                </div>
            </div>
        </div>
    </form>
</div>