<div class="signup-container">
  <form class="ui form">
    <h4 class="ui top attached header">
      Sign Up
    </h4>

    <div class="ui attached segment">
      <div class="required inline field">
        <label for="user_name">Username</label>
        <input id="user_name" name="user_name" value="" autofocus="" required="">
      </div>

      <div class="required inline field">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value="" required="">
      </div>

      <div class="required inline field">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" value="" required="">
      </div>

      <div class="required inline field">
        <label for="retype">Re-Type</label>
        <input id="retype" name="retype" type="password" value="" required="">
      </div>

      <div class="inline field">
        <label></label>
        <button class="ui green button">Create New Account</button>
      </div>

      <div class="inline field">
        <label></label>
        <a href="/user/login">Already have an account? Sign in now!</a>
      </div>
    </div>
  </form>
</div>
