.profile {
  padding-top: 20px;
}

.profile h3 {
  display: inline;
  padding-right: 10px;
}

.title span {
  padding-right: 5px;
}

.yellow-dot {
  color: goldenrod;
}

.joined {
  font-size: 13px;
  color: #797878;
}

.reputation {
  font-size: 12px;
  color: #797878;
}