.comments-container {
  border-top: 1px solid #2224260f;
}

.comments-row {
  margin-top: 15px;
}

.comment {
  padding: 10px;
  color: #0c0c0cde;
  font-size: 13px;
  border-bottom: 1px solid #2224260f;
}

.comments-row a{
  padding-top: 10px;
}

.points {
  padding-left: 5px;
  font-size: 11px;
  color: #7d7b7b;
}

.points a {
  padding-right: 5px;
  font-size: 13px;
}

.new-comment {
  padding-top: 5px;
}

.new-comment a {
  font-size: 13px;
  cursor: pointer;
}

.actions{
  padding-top: 5px;
  color: #7d7b7b;
  display: inline-block;
  font-size: 13px;
}

.actions a {
  cursor: pointer;
}

.hide {
  display: none;
}