<div class="comments-row">

  <!--Comments list-->
  <div class="comments-container">
   <app-comment
    *ngFor="let item of comments.items"
    (deleted)="onCommentDeleted()"
    [comment]="item"
    [id]="id"
    [isQuestion]="isQuestion">
   </app-comment>
  </div>

  <!--actions add comment/show more-->
  <div class="actions" [ngClass]="{'hide': hideActionsSection}">
    <a (click)="onAddCommentClick()">add a comment</a>
    <span [ngClass]="{'hide': !showMoreComments}">&nbsp;|&nbsp;</span>
    <a (click)="onShowMoreClick()" [ngClass]="{'hide': !showMoreComments}">show more comments</a>
  </div>

  <!--New comment-->
  <app-new-comment
    [isQuestion]="isQuestion"
    (saved)="onNewCommentSaved()"
    [hide]="!hideActionsSection"
    [id]="id">
  </app-new-comment>

</div>
