<div class="m-t10 pd-2" id="comments-<%= type %>-<%= id %>" data-post-id="<%= id %>">
    <!-- List of comments -->
    <div class="m-t10 m-b20">
        <%= for (c) in comments { %>
        <%= partial("shared/comment", {
                comment: c.Comment,
                id: c.ID,
                closeVotes: c.CloseVotes,
                author: c.CreatedBy,
                at: c.UpdatedAt,
                type: type
            }) %>
        <% } %>
    </div>

    <!-- Add comment link which shows the form-->
    <a href="#" class="comments-link">add comment</a>
    <!-- Add comment form -->
    <%= partial("shared/commentform", {prefix: "add-comment"}) %>
</div>