<form id="<%= prefix %>-<%= id %>" data-id="<%= id %>" class="ui form <%= prefix %>-form d-n">
    <!-- csrf token -->
    <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
    <!-- To identify the comment type as it belongs  to question or answer -->
    <input name="Type" type="hidden" value="<%= type %>">

    <div class="field">
        <textarea name="Comment" rows="3"
            placeholder="Please enter minimum of 15 characters and maximum of 250 characters."></textarea>
    </div>

    <!-- Loader -->
    <div class="dot-elastic l-15 m-t10 m-b10 d-n" id="loader"></div>

    <!-- Error message -->
    <%= partial("shared/shorterrormessage", {
        message: "Sorry, internal server error occurred.",
        id: "error-post-comment"
    }) %>

    <button type="submit" class="ui compact blue mini button">Save comment</button>
    <button class="ui compact mini button cancel-btn">Cancel</button>
</form>