<div id="comment-<%= type %>-<%= id %>" class="bt-lgrey-1 pd-10 f-12 d-f">
    <!-- flag + votes -->
    <%= if (userId) { %>
        <span class="pd-r5 f-11">
            <i class="flag icon c-lgr cr-p"></i>
            <%= if (closeVotes > 0) { %>
                <span class="c-dgr f-11 d-b"><%= closeVotes %></span>
            <% } %>
        </span>
    <% } %>
    <!-- Comments + userInfo -->
    <div>
        <span class="pd-r5"><%= comment %></span>

        <span class="pd-r10">
            <a class="ui label custom-blue-link" href="#">
                <%= author %>
            </a>
            <span class="c-lgr2 f-11">
                at <%= at.Format("Jan 02 '06 15:04") %>
            </span>
        </span>

        <%= if (userId == author) { %>
            <span>
                <i class="edit icon c-lgr cr-p f-11"></i>
            </span>
            <span>
                <i class="trash icon c-lgr cr-p f-11"></i>
            </span>
        <% } %>
    </div>
</div>