<div class="bt-lgrey-1 pd-10 f-12 comment-item">
    <div class="d-f comment-detail">
        <!-- flag + votes -->
        <%= if (userId) { %>
            <span class="pd-r5 f-11">
                <a class="flag-comment"><i class="flag icon c-lgr cr-p"></i></a>
                <%= if (closeVotes > 0) { %>
                    <span class="c-dgr f-11 d-b"><%= closeVotes %></span>
                <% } %>
            </span>
        <% } %>
        <!-- Comments + userInfo -->
        <div>
            <span class="pd-r5 comment"><%= comment %></span>

            <span class="pd-r10">
                <a class="ui label custom-blue-link" href="#">
                    <%= author %>
                </a>
                <span class="c-lgr2 f-11">
                    at <%= at.Format("Jan 02 '06 15:04") %>
                </span>
            </span>

            <%= if (userId == author) { %>
                <a class="edit-comment">
                    <i class="edit icon c-lgr cr-p f-11"></i>
                </a>
                <a class="delete-comment" data-method="DELETE" data-confirm="Are you sure?">
                    <i class="trash icon c-lgr cr-p f-11"></i>
                </a>
                <%= partial("shared/shorterrormessage", {
                    message: "Sorry, internal server error occurred.",
                    showCloseButton: true
                }) %>
            <% } %>
        </div>
    </div>
    <%= if (userId == author) { %>
        <!-- Edit comment form -->
        <%= partial("shared/commentform", {prefix: "edit-comment"}) %>
    <% } %>
</div>