<div class="fc">
    <div class="f-r w-200 bg-lgrey pd-5 md:m-t10 b-r2 f-12 pd-l10 c-dgr2">
        <div class="m-b5"><span>asked 2 hours ago</span></div>
        <div class="f-l w-32 h-32">
            <a href="#">
                <img src="https://www.gravatar.com/avatar/2a6081fe81e9a7be2e0324d65203911f?s=32&amp;d=identicon&amp;r=PG"
                    alt=""
                    width="32"
                    height="32">
            </a>
        </div>

        <div class="f-l pd-l10 w-150">
            <a href="#" class="ww-bw">@shan</a>
            <div class="fw-b c-dgr3"><span>100</span></div>
        </div>
    </div>
</div>