<div class="voting-container ta-c m-r20 c-gr">
    <!-- Upvote/DownVote -->
    <div>
        <button class="upvote btn cr-p d-b c-gr">
            <i class="huge caret up icon <%= if (selfVote == 1) { %> c-flagged <% } %>"></i>
        </button>
        <span class="f-20 m:f-17"><%= votes %></span>
        <button class="downvote btn cr-p d-b c-gr">
            <i class="huge caret down icon <%= if (selfVote < 0) { %> c-flagged <% } %>"></i>
        </button>
    </div>

    <!-- Bookmark -->
    <%= if (isQuestion) { %>
        <button
            id="bookmark-post"
            class="btn f-20 cr-p <%= if (selfBookmarked) { %> c-bookmarked <% } else { %> c-lgr <% } %>">
                <i class="big star icon f-15"></i>
                <%= if (Question.TotalBookmarks > 0) { %>
                    <div class="pd-3">
                        <span class="f-11">
                            <%= Question.TotalBookmarks %>
                        </span>
                    </div>
                <% } %>
        </button>
    <% } %>

    <!-- Accept answer -->
    <%= if (!isQuestion) { %>
        <button class="accept-answer btn c-gr">
            <i class="big check icon"></i>
        </button>
    <% } %>

    <!-- Three dot loading -->
    <div class="dot-elastic l-15 m-t20 d-n" id="mini-loader-<%= id %>"></div>
</div>