<div class="voting-container ta-c m-r20 c-gr">
    <!-- Upvote/DownVote -->
    <div>
        <button class="upvote btn cr-p d-b c-gr <%= if (selfVote == 1) { %> c-vote <% } %>">
            <i class="huge caret up icon"></i>
        </button>
        <span class="f-20 m:f-15"><%= votes %></span>
        <button class="downvote btn cr-p d-b c-gr <%= if (selfVote < 0) { %> c-vote <% } %>">
            <i class="huge caret down icon"></i>
        </button>
    </div>

    <!-- Bookmark -->
    <%= if (PostType) { %>
        <button
            class="bookmark btn f-20 cr-p c-lgr <%= if (selfBookmarked) { %> c-bookmarked <% } %>">
                <i class="big star icon f-15 "></i>
                <%
                    let cls = ""
                    if (Question.TotalBookmarks == 0) {
                        cls = "d-n"
                    }
                %>
                <div class="pd-3 <%= cls %>">
                    <span class="f-11">
                        <%= Question.TotalBookmarks %>
                    </span>
                </div>
        </button>
    <% } %>

    <!-- Accept answer -->
    <%= if (!PostType) { %>
        <%
            let cls = ""
            if (Answer.IsAccepted) {
                cls = "c-accepted"
            }
        %>
        <button class="accept-answer btn cr-p c-gr w-35 m:f-10 <%= cls %>">
            <i class="big check icon"></i>
        </button>
    <% } %>

    <!-- Three dot loading -->
    <div class="dot-elastic l-20 m-t20 d-n" id="mini-loader-<%= id %>"></div>
</div>