<div class="ui container">
  <h3 class="ui dividing header">{{title}}</h3>

  <!--Warning Message for answer with length < 200-->
  <div *ngIf="showWarning" id="message" class="ui warning message">
    <div class="header">
      Too short answer.
    </div>
    Please provide an answer with minimum of 200 characters.
  </div>

  <div class="editor" id='editor' #editor [ngStyle]="{'height': isEdit ? '400px' : '200px'}">
  </div>
  <span class="helperText">Please explain your answer in minimum 100 characters</span>
  <br>
  <br>
  <button (click)="updateAnswer()" class="ui primary mini button">
    {{saveButtonText}}
  </button>
  <br>
  <br>
</div>