<div class="ui container">
    <h3 class="ui header m-b20">
        Ask a question
    </h3>

    <form
        class="ui form"
        id="ask-question"
        method="POST"
        action="/questions/ask">

        <!-- csrf token -->
        <input
            name="authenticity_token"
            type="hidden"
            value="<%= authenticity_token %>">

        <!-- Question title -->
        <div class="required field" id="title-container">
            <label for="title">Title</label>
            <input
                placeholder="enter question title"
                autocomplete="id"
                type="text"
                id="title"
                name="Title">
        </div>

        <!-- Question body - Quill editor -->
        <div class="required field" id="ask-question-editor-container">
            <% let cls = "" %>
            <%= if (errors && errors.questionContent) { %>
                cls = "editor-container-error"
            <% } %>
            <label for="questionContent">Body</label>
            <input
                id="questionContent"
                name="QuestionContent"
                type="hidden">
            <div id="ask-question-editor-wrapper" class="<%= cls %>">
                <div class="editor" id="ask-question-editor"></div>
                <span class="helper-text">Please explain your answer in minimum 100 characters</span>
            </div>
        </div>

        <!-- Question tags -->
        <div class="required field" id="tags-container">
            <label for="tags">Tags</label>
            <div class="ui fluid multiple search selection dropdown multidd">
                <input
                    id="tags"
                    name="Tags"
                    type="hidden">
                <i class="dropdown icon"></i>
                <div class="default text">Tags</div>

                <div class="menu">
                    <%= for (tag) in tags { %>
                        <div class="item" data-value="<%= tag.ID %>">
                            <%= tag.ID %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <div class="field m-t30 m-b30">
            <button
                id="postYourQuestion"
                class="ui blue button"
                type="submit">
                    Post Your Question
            </button>
        </div>
    </form>
</div>