<app-loader [show]="isFetching">
</app-loader>

<div class="answers" *ngIf="answers && answers.count > 0 && !isFetching">
  <h3 class="ui dividing header">{{title()}}</h3>

  <div  *ngIf="answers.pages > 1" class="pagination-buttons ui basic mini buttons">
    <div
      (click)="onPreviousClick()" 
      [ngClass]="{'disabled': !answers.hasPrevious}" 
      class="ui button">
        Prev
    </div>

    <div
      (click)="onNextClick()" 
      [ngClass]="{'disabled': !answers.hasNext}" 
      class="ui button">
        Next
    </div>

  </div>

  <app-answer 
    *ngFor="let answer of answers.items" 
    [answer]="answer" 
    [questionId]="questionId"
    (deleteAnswer)="deleteAnswer($event)">
  </app-answer>

   <!--Yes no dialog - DELETE answer-->
  <app-confirm-dialog
    [id]="dialogId" 
    headerText="Please confirm!"
    mainContent="Are you sure want to delete the post?"
    yesText="Yes"
    cancelText="Cancel"
    (yesClick)="onConfirmDeleteClick()">
  </app-confirm-dialog>
</div>
